$amethyst: #9b59b6;
$wisteria: #8e44ad;
$midnight-blue: #34495e;

$header-height: 100px;

@mixin pretty-font {
    font-family: 'Sansita One', sans-serif;
    color: white;
}

body {
    @include pretty-font;
    margin: 0;
    background-color: $midnight-blue;
}

header {
    background-color: $amethyst;
    height: $header-height;
    margin-bottom: 60px;
}

h1, h2 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

h1 {
    line-height: $header-height;
    font-size: $header-height / 2;
    letter-spacing: 2px;
    text-shadow: $wisteria -3px 1px;
    display: inline;
}

h3 {
    font-size: 20px;
    border: 2px dashed $amethyst;
    padding: 30px 0;
}

a {
    color: white;
    &:hover {
        color: $amethyst;
    }
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.controls {
    font-size: 40px;
}


label, input {
    cursor: pointer;
}

label {
    display: inline-block;
}

label, input[type="submit"] {
    border-radius: 2px;
    padding: 12px 20px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: $wisteria;
}

input[type="submit"] {
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    background-color: $wisteria;
    border: 0;
    margin: 20px 0;

    &:hover {
        background-color: $amethyst;
    }
}

form div {
    margin: 20px 0;
}

#qwerty-hancock {
    margin: 60px 0 20px 0;
}

#scale-types {
    font-size: 25px;
}

.centered {
    text-align: center;
}

.twitter-follow-button {
    float: right;
    margin: ($header-height / 2 - 10) 0;
}

.octocat {
    margin: 40px 0;
}
